/* BLOCK: Browser respects width/height, top/bottom margin
INLINE: Browser does not respect width/height, top/bottom margins
Navbar
list-style-type: property
descendent selectors */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul li{
    list-style-type: none;
 }
 ul li a{
    color:#f15025;
    text-decoration: none;
    letter-spacing: 2px;
    background: #222;
    display: block;
    padding: 5px;
    margin: 10px 10px;
}  