*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    height: 200px;
    width: 50%;
    float: left;
}
.one{
    background: blue;
}
.two{
    background: red;
}
.three{
    background: green;
}
.four{
    background: yellow;
}
h1{
    clear: both;
}