/* line-height - if number * by font-size
letter-spacing
word-spacing
text-transform
text-decoration 

When we use number like 1, 2 for line height, it is calculated by multiplying the number by the font-size*/
a{
    font-size: 3rem;
    text-decoration: none;
}
body{
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.5;
}
h1{
    font-size: 40px;
    /* text-decoration: underline; */
    /* text-decoration: line-through; */
    text-transform: uppercase;
}
.one{
    letter-spacing: 5px;
    line-height: 2.5;
    text-decoration:overline ;
}
.two{
    word-spacing: 10px;
    text-transform: lowercase;
}
.three{
    text-transform: capitalize;
}